* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
  color: white;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 16px;
  margin-top: 40px;
}

.profile-item {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 12px 20px;
  justify-content: flex-start;
  width: 600px;
  font-size: 18px;
}

.label {
  display: inline-block;
  width: 160px;
  text-align: left;
  margin-right: 10px;
  white-space: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
}

/*
  # 闇が深そうなので、やめておく
.value {
  flex: 1;
  # これは flex: 1 1 0; と同じ。
} */
